table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 600px;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
thead th {
  width: 25%;
}
.div1 {
  width: 600px;
  height: 100px;
  border: 1px solid blue;
}
.div2 {
  width: 600px;
  height: 600px;
  border: 1px solid red;
}
.buttons {
  text-align: center;
}
